*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFE2B0;
}
.header
{
    margin: 0 0 20px 0;
    text-align: center;
}
.nav_list
{
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.nav
{
  margin: 0 0 20px 0;
    
}
.nav_link:visited
{
    color: black;
}
.nav_link
{
    
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.nav_link:hover
{
    color: red;
}

.nav_menu
{
   margin: 0 100px 0 0;
   display: inline;
}
.nav_menu:last-child
{
  margin-right: 0;
}
.section_about
{
    margin-bottom: 20px;
    position: relative;
    height: 640px;
    background-image: url(/src/img/01-Картинка-фона.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section_about__order
{
    padding: 15px 0 0 0;
    position: absolute;
    left: 50%;
    top: 54%;
    width: 420px ;
    height: 190px ;
    background: linear-gradient(180deg,rgba(244,213,178,0.8) 0%,rgba(234,156,65,0.8)100%);
}
.section_about__board
{
    padding: 17px 28px 0 28px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid black;
    width:390px;
    height: 160px ;
}
.section_about__title{
    margin: 0;
    font-size: 28px;
    font-family: Bahnschrift;
}
.section_about__about
{
    margin: 0;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section_supports_icons_box
{
    margin-bottom: 20px;
    
    text-align: center;
}
.section_supports_icons_box img
{

}
.section_about
{
    margin: 0 0 20px 0;
}
.supports_icons_box
{
    margin-right: 76px;
}
.supports_icons_box:last-child
{
    margin-right: 0;
}
.section_icons_box
{
    text-align: center;
}
.section_icons__title
{
    font-size: 96px;

}
.section_icons_about{
   margin: 0 auto;
    width: 1000px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section_icons__title span
{
    color: #F15B40;
}
.section_map_order
{
   text-align: center;
   margin-bottom: 20px;
   font-size: 36px;
}
.selection_map_map
{
    display: block;
   margin: 0 auto;
}
hr{
   
    border: none;
    border-top: 1px solid #999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.section_map
{
    margin-bottom: 20px;
}
footer
{
    height: 80px;
}